.category {
  &__wrapper {
    max-width: 900px;
    @include padding-breakpoint;
    box-sizing: border-box;
    padding-bottom: 10%;
  }

  &__post {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-bottom: 1%;
  }

  &__content {
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    height: 100%;
    padding: 4% 1.6%;
    @include for-tablet-portrait-up {
      padding: 4% 2%;
      float: right;
    }

    .view-article {
      width: initial;
      display: inline-block;
      bottom: initial;
      margin-top: 25px;
      @include for-desktop-up {
        margin-top: 35px;
      }

      &:before {
        display: none;
      }
    }
  }

  &__img {
    display: inline-block;
    box-sizing: border-box;
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include for-tablet-portrait-up {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__header {
    padding-top: 10px;
    @include for-tablet-portrait-up {
      margin-top: 0;
    }

    a {
      text-decoration: none;
      color: $txtblack;
      cursor: pointer;
    }
  }
}
