.btn {
  &__category {
    width: 100px;
    padding: 8px 0 7px;
    border-radius: 17px;
    border: none;
    background-color: rgba($txtblack, 0.3);
    display: inline-block;
    text-align: center;
    float: right;
    font-family: 'nimbus-sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: $white;

    ul {
      list-style-type: none;
    }
  }

  &__services {
    width: 213px;
    height: 70px;
    box-sizing: border-box;
    padding: 24px 0 0;
    background-color: $blue;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 35px;
    font-family: 'roboto-condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    color: $white;
    border: none;
    position: relative;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    margin-top: 35px;
    @include for-tablet-portrait-up {
      margin-top: 40px;
    }
    @include for-tablet-landscape-up {
      left: initial;
      right: initial;
      -webkit-transform: translate(0,0);
      -ms-transform: translate(0,0);
      transform: translate(0,0);
      margin-top: 70px;
    }
  }
  &__book--venue{
    display: inline-block;
    width:248px;
    height: 66px;
    box-sizing: border-box;
    background-color: $blue;
    text-decoration: none;
    border-radius: 33px;
    text-align: center;
    padding: 25px 0 0 0;
    color: $white;
    font-family: 'roboto-condensed', sans-serif;
    font-weight: 600;
    font-style: normal;

    margin-top: 50px;
    margin-bottom: 50px;

    @include for-tablet-portrait-up{
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @include for-tablet-landscape-up{
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }

  &__member {
    box-sizing: border-box;
    display: block;
    width: 180px;
    height: 60px;
    padding-top: 16px;
    margin-top: 110px;
    border: 3px solid $red;
    text-align: center;
    font-family: 'nimbus-sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: $red;
    text-decoration: none;
    position: relative;
    clear: both;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

    @include for-tablet-portrait-up{
      width: 207px;
      height: 92px;
      padding-top: 34px;
      margin-top: 20%;
      left: 50%;
      margin-right: 50%;
      margin-left: 0;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    @include for-tablet-landscape-up {
      margin-top: 15%;
      margin-right: 0;
      left: 50%;
      margin-right: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  &__member--page{
    @extend .btn__member;
    @include for-phone-only{
      margin-top: 10px;
    }
    @include for-tablet-portrait-up{
      margin-top: 10%;
    }
  }
}
