.icon {
  &--heart:before {
    font-size: 30px;
    @include for-tablet-portrait-up {
      font-size: 42px;
    }
  }

  &--members {
    box-sizing: border-box;

    img {
      display: inline-block;
      max-width: 70%;
      max-height: 70%;
      position: relative;
      top: 50%;
      margin-right: -50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      @include for-tablet-portrait-up {
        max-width: 60%;
        max-height: 60%;
      }
      @include for-tablet-landscape-up {
        max-width: 60%;
        max-height: 60%;
      }
    }

    &::after {
      clear: both;
    }
  }
}
.icon--members.member--active {
  width: 33.3%;
  height: 70px;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  @include for-tablet-portrait-up {
    width: 16.66%;
    height: 85px;
  }
  @include for-tablet-landscape-up {
    height: 105px;
  }
  @include for-desktop-up {
    height: 125px;
  }

  &::after {
    clear: both;
  }
}

.icon--lecture,
.icon--venue {
  box-sizing: border-box;
  width: 267px;
  height: 267px;
  border: 0;
  display: block;
  float: left;
  clear: both;
  position: relative;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  @include for-tablet-portrait-up {
    margin-right: 25px;
  }
  @include for-tablet-landscape-up {
    right: initial;
    left: initial;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}
.icon--seats{
  display: inline-block;
  background-image: url('assets/img/icons/seats.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
