//Breakpoints
@mixin for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content;
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content;
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}
@mixin container-padding {
	padding: 20px;

	@include for-tablet-portrait-up {
		padding: 25px;
	}

	@include for-desktop-up{
		padding:30px;
	}
}
@mixin padding-sides {
	padding-left: 20px;
	padding-right: 20px;

	@include for-tablet-portrait-up{
		padding-left: 25px;
		padding-right: 25px;
	}
	@include for-desktop-up{
		padding-left: 30px;
		padding-right: 30px;
	}
}
@mixin padding-breakpoint {
	@media (max-width: 1200px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@mixin hover-state {
    &:hover, &:active, &:focus {
        @content;
    }
}
