.header {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  padding-bottom: 95px;
  @include padding-breakpoint;
  @include for-tablet-portrait-up {
    padding-top: 40px;
    padding-bottom: 125px;
  }
}

.logo-img {
  float: left;
  margin: 0;
  display: inline-block;
}

.nav {
  display: none;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: $white;
  z-index: 15;
  position: absolute;
  top: 0;
  @include for-tablet-landscape-up {
    width: auto;
    opacity: 1;
    height: initial;
    float: right;
    clear: none;
    display: inline-block;
    position: relative;
  }

  > ul {
    margin-top: 100px;
    padding: 0;
    list-style-type: none;
    text-align: center;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    @include for-tablet-landscape-up {
      text-align: right;
      margin: 0;
    }

    > li {
      font-family: 'nimbus-sans', sans-serif;
      font-weight: 300;
      font-size: 22px;
      line-height: 50px;
      @include for-tablet-landscape-up {
        display: inline-block;
        margin-right: 5px;
        font-size: 18px;
        line-height: 66px;

        &:last-child {
          margin-right: 0;
        }

        &:first-child:before {
          display: none;
        }

        &:before {
          content: "";
          display: inline-block;
          background-color: $txtblack;
          width: 6px;
          height: 6px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin-left: 12px;
          margin-right: 12px;
          margin-bottom: 2px;
        }
      }

      a {
        text-decoration: none;
        cursor: pointer;
        color: $txtblack;
      }

      .sub-menu {
        display: none;
      }
    }

    li.current_page_item {
      font-weight: 600;
    }
  }
}

.menu__mobile {
  z-index: 20;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
  height: 15px;
  width: 25px;
  overflow: hidden;
  @include for-tablet-landscape-up {
    display: none;
  }
}

.bar__mobile {
  width: 25px;
  height: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: $txtblack;
  display: block;
  position: absolute;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;

  &:first-child {
    top: 0;
  }

  &:nth-child(0n+2) {
    top: 6px;
  }

  &:nth-child(0n+3) {
    bottom: 0;
  }
}

.menu__mobile--active {
  position: relative;

  div:nth-child(0n+1) {
    position: absolute;
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    top: 6px;
    width: 20px;
  }

  div:nth-child(0n+2) {
    display: none;
  }

  div:nth-child(0n+3) {
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    bottom: 6px;
    width: 20px;
  }
}

.footer {
  box-sizing: border-box;
  background-color: $darkgrey;
  color: $white;
  width: 100%;
  position: relative;
  bottom: 0;
  @include for-phone-only {
    margin-top: 50px;
  }
  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__content {
    @include padding-breakpoint;
    box-sizing: border-box;
    @include for-tablet-portrait-up {
      min-height: 470px;
      padding-top: 2%;
      padding-bottom: 2%;
    }
  }



  &__text {
    box-sizing: border-box;

    p {
      font-size: 18px;
      font-weight: 300;
      color: $white;
      @include for-tablet-portrait-up {
        font-size: 16px;
      }
    }
    @include for-tablet-portrait-up {
      padding: 3% 2% 3% 0;
    }
    @include for-tablet-landscape-up {
      // padding: 100px 30px 30px 0;
    }
    @include for-desktop-up {
      padding: 3% 5% 3% 0;
    }
  }

  &__nav {
    > ul {
      padding-top: 3%;
      list-style-type: none;

      > li {
        padding: 5px 0;
        a {
          text-decoration: none;
          color: $white;
          font-family: 'roboto-condensed', sans-serif;
          font-size: 18px;
          font-weight: 700;
          font-style: normal;
        }
      }
    }
  }
}

.logo__container--footer{
  @include padding-breakpoint;
  padding-top: 10%;
}
.logo--footer {
  display: inline-block;
  @include for-tablet-portrait-up {
    width: 140px;
  }
  @include for-tablet-landscape-up {
    width: 170px;
  }
}


.map {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  @include for-phone-only {
    float: right;
    height: 100%;
    position: relative;
  }

  iframe {
    @include for-phone-only {
      position: relative;
      bottom: -4px;
      height: 50vh;
    }
    width: 100%;
    border: 0;
    height: 100%;
  }
}
