.page,
.post {
  &__title {
    font-size: 40px;
    @include for-tablet-landscape-up {
      font-size: 50px;
    }
    @include for-desktop-up {
      font-size: 60px;
    }
  }

  &__wrapper {
    display: block;
    position: relative;
    box-sizing: border-box;
    max-width: 900px;
    @include padding-breakpoint;
    padding-bottom: 10%;
    @include for-desktop-up{
      min-height: 40vh;
    }
  }

  &__img {
    display: inline-block;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include for-tablet-portrait-up {
      height: 300px;
    }
  }

  &__header {
    font-size: 40px;
    margin: 25px 0;

    a {
      text-decoration: none;
      color: $txtblack;
      cursor: pointer;
    }
    @include for-tablet-landscape-up {
      font-size: 50px;
    }
    @include for-desktop-up {
      font-size: 60px;
    }
  }

  &__date {
    opacity: 0.5;
    display: block;
    padding: 4% 0 1.6%;
  }

  &__content {
    padding-bottom: 50px;

    p {
      margin-bottom: 10px;
    }
  }

  &__intro {
    margin: 20px 0 30px;
    box-sizing: border-box;
  }

  &__members-container {
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-size: 0;
  }

  &__link {
    text-decoration: none;
    color: $txtblack;
    cursor: pointer;
  }
}

.blog__date {
  font-size: 16px;
  font-family: 'nimbus-sans', sans-serif;
  color: $txtblack;
  opacity: 0.5;
  font-weight: 300;
  display: inline;
  padding: 0;
}

.member__post {
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
  height: 70px;
  position: relative;
  @include for-tablet-portrait-up {
    width: 12%;
    height: 90px;
  }
  @include for-tablet-landscape-up {
    height: 100px;
  }
}

.member-logo__container {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  img {
    max-width: 60%;
    max-height: 60%;
    display: block;
    position: relative;
    opacity: 1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.member-name {
  display: none;
  margin: 0;
  font-size: initial;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: $txtblack;
}

.odd {
  background-color: $lightgrey;
}

.venue {
  &__wrapper {
    max-width: 1265px;
    box-sizing: border-box;
    @include padding-breakpoint;
  }

  &__txt {
    max-width: 600px;
    padding: 2% 0 0;
    clear: both;
    @include for-tablet-portrait-up {
      padding: 5% 0 0;
    }
  }

  &__info--container {
    display: block;
    float: left;
    position: relative;
    box-sizing: border-box;

    &:last-child {
      margin-right: 0;
    }
  }

  &__info {
    font-family: 'roboto-condensed', sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: $green;
    line-height: normal;
    display: inline-block;
  }

  &__info-txt {
    display: block;
  }

  &__img {
    display: block;
    height: 300px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    @include for-tablet-landscape-up {
      height: 420px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__imgs-col {
    box-sizing: border-box;
    float: left;
  }

  &__txt-col {
    box-sizing: border-box;
    padding-top: 50px;
    float: right;
    @include for-tablet-portrait-up {
      padding: 25px 0 0 20px;
    }
    @include for-tablet-landscape-up {
      padding: 50px 0 100px 70px;
    }
  }
}

.single-venue__container {
  min-height: 900px;
}

.puff__venue.venue--inactive {
  display: none;
}

.puff__venue {
  float: left;
  display: inline-block;
  height: auto;
  width: 23%;
  height: auto;
  background-color: $lightgrey;
  margin-right: 1.6%;
  margin-bottom: 1.6%;
  box-sizing: border-box;

  &:last-child {
    margin-right: 0;
  }
}

.puff__container--venue {
  position: relative;
  display: inline-block;
}

.member__post--venue {
  @extend .member__post;
  width: 100%;
  height: 100%;
}

.venue-img__container {
  @extend .member-logo__container;
  text-align: center;

  img {
    top: initial;
    left: initial;
    margin: 0 auto;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}

.venue__name {
  @extend .member-name;
  display: block;
  visibility: visible;
  font-size: 12px;
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
  @include for-tablet-portrait-up {
    font-size: 14px;
    padding-bottom: 1.6%;
  }
  @include for-tablet-landscape-up {
    font-size: initial;
  }
  @include for-desktop-up {
    padding-bottom: 2%;
  }
}

.blog {
  &__wrapper {
    max-width: 900px;
    @include padding-breakpoint;
    box-sizing: border-box;
    position: relative;
  }
}
