.puff {
  &__wrapper {
    box-sizing: border-box;
    @include padding-breakpoint;
    padding: 5% 0;
  }

  &__container {
    box-sizing: border-box;
    @include for-phone-only {
      margin-bottom: 50px;
    }

    &:first-child {
      @include for-tablet-portrait-up {
        padding-right: 3%;
      }
      @include for-desktop-up {
        padding-right: 4%;
      }
    }

    &:last-child {
      @include for-tablet-portrait-up {
        padding-left: 3%;
      }
      @include for-desktop-up {
        padding-left: 4%;
      }
    }
  }

  &__intro {
    position: relative;
  }

  &__header {
    font-size: 40px;
    margin: 25px 0;
    @include for-tablet-portrait-up {}
    @include for-tablet-landscape-up {
      font-size: 50px;
    }
    @include for-desktop-up {
      font-size: 60px;
    }

    a {
      text-decoration: none;
      color: $txtblack;
      cursor: pointer;
    }
  }

  &__img {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include for-tablet-portrait-up {
      height: 245px;
    }
    @include for-tablet-landscape-up {
      height: 210px;
    }
  }
}

.puff__img + p {
  padding-top: 1.6%;
}

.date {
  font-size: 16px;
  font-family: 'nimbus-sans', sans-serif;
  color: $txtblack;
  opacity: 0.5;
  font-weight: 300;
  display: inline-block;
  float: left;
  padding: 10px 0 9px;
  height: 34px;
}

.view-article {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  color: $blue;
  font-family: 'nimbus-sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  @include for-tablet-landscape-up {
    margin-top: 15px;
  }
  @include for-desktop-up {
    margin-top: 40px;
  }
  span {
    width: 100px;
    text-align: right;
  }

  &:before {
    content: '';
    display: inline-block;
    width: calc(100% - 100px);
    height: 3px;
    background-color: $blue;
    margin-right: 10px;
    margin-bottom: 2px;
  }
}

.puff-info__container {
  height: 34px;
}

.puff-intro__container {
  @include for-tablet-portrait-up {
    height: 390px;
  }
  @include for-tablet-landscape-up {
    height: 300px;
  }
  @include for-desktop-up {
    max-height: 270px;
  }
}

.hero {
  &__container {
    box-sizing: border-box;
    position: relative;
    margin: 5% 0 0;
    overflow: hidden;
    width: 100%;

    li {
      height: 300px;
      @include for-tablet-portrait-up {
        height: 400px;
      }
      @include for-tablet-landscape-up {
        height: 500px;
      }
      @include for-desktop-up {
        height: 900px;
      }
    }
  }

  &__img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.hero--active {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
  width: 100%;
  -webkit-transition: all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.hero--inactive {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  -webkit-transition: all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.services {
  &__wrapper {
    background-color: $lightgrey;
    padding: 10% 0;
    width: 100%;
  }

  &__container {
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    @include padding-breakpoint;
  }

  &__content {
    float: left;
    position: relative;
    margin-bottom: 50px;
    @include for-tablet-portrait-up {
      margin-bottom: 7%;
    }
    @include for-tablet-landscape-up {
      max-width: 625px;
      margin-bottom: 7%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    font-size: 40px;
    margin-bottom: 25px;
    @include for-tablet-portrait-up {
      margin-top: 0;
    }
    @include for-tablet-landscape-up {
      font-size: 60px;
    }

    a {
      text-decoration: none;
      color: $txtblack;
      cursor: pointer;
    }
  }
}

.members {
  &__wrapper {
    position: relative;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 7%;
    @include padding-breakpoint;

    .puff__header {
      margin-top: 0;
    }
  }

  &__container {
    margin-bottom: 50px;
    padding: 0 0 50px;
    min-height: 300px;
    @media (min-width: 375px) {
      min-height: 350px;
    }
    @media (min-width: 414px) {
      min-height: 350px;
    }
    @media (min-width: 520px) {
      min-height: 260px;
    }
    @include for-tablet-portrait-up {
      min-height: 150px;
    }
    @include for-tablet-landscape-up {
      min-height: 250px;
    }
    @include for-desktop-up {
      min-height: 300px;
    }
  }
}

.member--active {
  opacity: 1;
  -webkit-transition: all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.member--inactive {
  display: none;
}

.member__animation {
  -webkit-animation: member 300ms ease-in-out;
  animation: member 300ms ease-in-out;
}
//Member animation
@keyframes member {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
