@import "normalize";
@import "variables";
@import "grid";
@import "mixins";
@import "nav-header-footer";
@import "start";
@import "pages";
@import "btns";
@import "icons";
@import "archive-category";

body,
html,
p {
	margin: 0;
	font-size: 16px;
}

li,
ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	font-family: 'roboto-condensed', sans-serif;
	font-weight: 700;
	font-style: normal;
	clear: both;
	text-align: left;
	color: $txtblack;
}

p {
	font-family: "nimbus-sans", sans-serif;
	color: $txtblack;
	font-weight: 300;
	line-height: 1.818;
	box-sizing: border-box;
	text-align: left;
}

a {
	color: $blue;
	cursor: pointer;
}

.wrapper__main {
	margin: 0 auto;
	max-width: 1200px;
}

body.no-touch {
	.member-logo__container {
		@include hover-state {
			.member-name {
				display: block;
			}
			img {
				display: none;
			}
		}
	}

	.venue-img__container {
		@include hover-state {
			.venue__name {
				visibility: visible;
			}
			img {
				display: block;
			}
		}
	}
	.btn {
	  &__category {
	    @include hover-state{
				background-color: rgba($txtblack, 1);
	    }
	  }
		&__services {
	    @include hover-state{
	      background-color: #008bc6;
	    }
	  }
	  &__book--venue{
	    @include hover-state{
	      background-color: #008bc6;
	    }
	  }

	  &__member {
	    @include hover-state{
	      background-color: $red;
	      color: $white;
	    }
	  }
}
}
//end no-touch
